
RegisterPeoples/.vs/RegisterPeoples/config/applicationhost.config

RegisterPeoples/.vs/RegisterPeoples/DesignTimeBuild/.dtbcache

RegisterPeoples/.vs/RegisterPeoples/v16/Server/sqlite3/storage.ide

RegisterPeoples/RegisterPeoples/bin/Debug/netcoreapp2.2/RegisterPeoples.deps.json

RegisterPeoples/RegisterPeoples/bin/Debug/netcoreapp2.2/RegisterPeoples.pdb

RegisterPeoples/RegisterPeoples/obj/Debug/netcoreapp2.2/RegisterPeoples.assets.cache

RegisterPeoples/RegisterPeoples/obj/Debug/netcoreapp2.2/RegisterPeoples.csproj.FileListAbsolute.txt
